<h1><%= @place["name"] %></h1>


<ul>
  <% for posts in @post %>
    <h2><%= post["title"] %> </h2>
    <li> <%= post["posted_on"] %>  </li>
    <li> <%= post["description"] %>  </li>
  <% end %>
</ul>

<p>
  <a href="/posts/new?place_id=<%= @post["id"] %>">Add a new post </a>
</p>

<p><a href="/places">Back to All Okaces</a></p>

<p><%= button_to "Delete this place", @company, :method => "delete" %></p>
  