<h1><%= @place["name"] %></h1>

<h2>See your posts below:</h2>

<p>
  <% for post in @posts %>
    <h3> <%= post["title"] %> </h3>
    <p> <%= post["posted_on"] %>  </p>
    <p> <%= post["description"] %>  </p>
  <% end %>
</p>


<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">Click here to add a post</a>
</p>

<p><a href="/places">Back to All Places</a></p>

<p><%= button_to "Delete this place", @place, :method => "delete" %></p>